@use "../../util/scss/var" as var;

.card {
  height: 100%;
  overflow: hidden;
  border-radius: 6px;

  .head {
    img {
      aspect-ratio: 2 / 1 ;
      width: 100%;
    }
  }

  .body {
    padding: 1em;

    .title {
      font-size: 1.25em;
      margin-bottom: 1em;
      font-weight: var.$fw-semibold;
    }
    p {
      margin-bottom: 0.25em;
    }
  }

}