:root {
  font-size: 16px;
}

//Container
.container {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

//Flex
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

//Hidden

.hidden {
  display: none;
}

//Display

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-in-flex {
  display: inline-flex;
}

.d-in-block {
  display: inline-block;
}

.d-in {
  display: inline;
}
//Reset

::placeholder {
  color: currentColor;
}