// Layout

$mobile: 375px;
$desktop: 1440px;

// Colors

// Neutral
$cl-dark-blue: hsl(209, 23%, 22%);
$cl-very-dark-blue: hsl(207, 26%, 17%);
$cl-dark-gray: hsl(0, 0%, 52%);
$cl-light-gray: hsl(0, 0%, 98%);
$cl-white: hsl(0, 0%, 100%);

// Typography

// Body Copy

$fs-home-page: 14px;
$fs-detail-page: 16px;

// Fonts

$fm: 'Nunito Sans';
$fw-light: 300;
$fw-semibold: 600;
$fw-bold: 800;
